<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
</head>

<body>
    <div class="container" style="font-size: 30px; color:black">
        <h2>User</h2>
        <table class="table" border="5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Periode</th>
                    <th>Quota</th>
                    <th>Attendance List</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%=data.name%>
                    </td>
                    <td>
                        <%=getCurrency(data.price)%>
                    </td>
                    <td>
                        <%=data.periode%>
                    </td>
                    <td>
                        <%=data.quota%>
                    </td>
                    <td>
                        ?
                    </td>
                    <td>
                        <a href="/" class="btn btn-primary">
                            Buy
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
</body>

</html>